<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Products</title>
    <link rel="stylesheet" href="product.component.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>OUR PRODUCTS</h1>
        </header>
        <section>
            <div class="product">
                <img src="./assets/ear.jpeg" height="200 px" width="200 px">
                <h2>Dell Headsets</h2>
                      <p>Online Price 6,000</p>
                     <p> Dell Price 5,600</p> 
                     <p> Save 400 (5%)</p>
                     <p>Price inclusive of GST and Free Delivery</p> 
            </div>
                
            <div class="product">
                <img src="./assets/com.webp" height="200 px" width="200 px">
                <h2>Dell Laptop </h2>
                <p>
                Online Price 1,08,989.99</p>
               <p> Dell Price 1,03,489.99</p> 
               <p> Save 5,500.00 (5%)</p>
                <p>Price inclusive of GST and Free Delivery</p>
               
            </div>
            <div class="product">
                <img src="./assets/top2.webp" height="200 px" width="200 px">
                <h2>Monitor Deals</h2>
                <p>Online Price 94,000</p>
               <p> Dell Price 88,000</p> 
               <p> Save 6,000(5%)</p>
                <p>Price inclusive of GST and Free Delivery</p> 
            
            </div>
        </section> 
       
        <footer>
            <p>&copy; 2024 Your Company Name. All rights reserved.</p>
        </footer>
    </div>
</body>
</html>