<h2>Checkout</h2>
<div *ngIf="product">
  <h3>{{ product.name }}</h3>
  <p>{{ product.price | currency }}</p>
  <form (ngSubmit)="placeOrder()">
    <label>
      Name:
      <input type="text"  name="name" formControlName="name"required>
    </label>
    <label>
      Address:
      <input type="text"  name="address" formControlName="address" required>
    </label>
    <label>
      Payment Mode:
      <select formControlName="paymentMode" name="paymentMode">
        <option value="Credit Card">Credit Card</option>
        <option value="Debit Card">Debit Card</option>
        <option value="PayPal">PayPal</option>
      </select>
    </label>
    <button type="submit">Place Order</button>
  </form>
</div>
